- unless project.images.blank?
  %figure#project
    %a{:href => "/projects/#{(project.id)}", :style => "background-image: url(#{project.images.first.img_url})"}
      .badge
        .author
          = project.author.name
        .name
          = project.name        
        .price
          = number_to_currency project.price