%h2 Project wizzard

%ol
  %li
    - if @categories.blank?
      Create 
      = link_to "Categories", categories_path
    - else
      %span{ :style => 'color:green;'}
        OK:
      Categories created. Do you want to add next
      = link_to "Category", new_category_path
      ?
      %br/
      %span{ :style => 'color: grey;font-size: 10px;'}Already created categories:
      - @categories.each do |category|
        %span{ :style => 'color: grey; font-style: italic;'}= link_to category.name, category      
  %li
    - if Author.all.blank?
      Create
      = link_to "Authors", authors_path
    - else
      %span{ :style => 'color:green;'}
        OK:
      Author created. Do you want to add next author
      = link_to "Author", new_author_path
      ?
      %br/
      %span{ :style => 'color: gray;font-size: 10px;'}Already created authors:
      - Author.all.each do |author|
        %span{ :style => 'color: grey; font-style: italic;'}= link_to author.name, author
  %li
    - if Project.all.blank?
      Create
      = link_to "Project", projects_path
    - else
      %span{ :style => 'color:green;'}
        OK:
      Project created. Do you want to add next
      = link_to "project", new_author_path
      ?
      %br/
      %span{ :style => 'color: gray;font-size: 10px;'}Already created projects:
      %ul
        - Project.all.each do |project|
          %li
            %span{ :style => 'color: grey; font-style: italic;'}= link_to project.name, project
      
    

%h2 Projekty widoczne na stronie głównej

%ul
  - @visible_projects.each do |project|
    %li
      = project.name
      %a{:href => "/projects/#{(project.id)}", :style => "background: url(#{project.images.first.img_url}) no-repeat 50% 50%; width:255px;height:255px;display:block;"}

= will_paginate @visible_projects