%h2 Dostępne kategorie
%ul
  - @categories.each do |category|
    %li= link_to category.name, category

%h2 Projekty widoczne na stronie głównej

%ul
  - @visible_projects.each do |project|
    %li
      = project.name
      %a{:href => "/projects/#{(project.id)}", :style => "background: url(#{project.images.first.img_url}) no-repeat 50% 50%; width:255px;height:255px;display:block;"}

= will_paginate @visible_projects