= f.input :name
= f.input :description, :hint => 'Would be good if you can provide some useful info, that will help in future to do right SEO - visible in google'
= f.input :size, :hint => 'Place size as exp: 34x56'
= f.input :price
= f.input :status, :hint => 'Visible in normal user view (if you are preparing project but want to save work and not to show project to users)'
= f.input :home, :hint => 'Visible on home page'
= f.association :author

%h2 Zdefiniuj kategorie do ktorych przynalezy projekt
%ul
  - for category in @categories
    %li
      =# check_box_tag "category_ids[]", category.id, checked = (@project.categories.include? category ? false : true)
      = check_box_tag "project[category_ids][]", category.id, @project.categories.include?(category)
      = category.name