%h2
  %span.label Edycja kategori:
  = @category.name

= simple_form_for(@category, :url => admin_category_path(@category)) do |f|
  = render :partial => 'form', :locals => { :f => f }
  = f.button :submit, 'Zapisz zmiany w kategorii'
  
= link_to 'Show', @project
|
= link_to 'Back', projects_path
