- @categories.each do |category|
  .categories
    = link_to category.name, category
    -if user_signed_in?
      = category.visible
      = link_to 'Edit', edit_category_path(category)
      = link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete

-if user_signed_in?
  = link_to 'New Category', new_category_path