!!! 5
%html
  %head
    %title= page_title_tag
    = stylesheet_link_tag "application", "blog"
    = javascript_include_tag "application"
    = yield :javascript
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"}
    // Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27641233-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
  %body{ :lang => "pl" }

    %header#masthead
      %nav
        %ul{ :class => controller_name }
          %li.home= link_to "Strona główna", root_path
          %li.projects= link_to "Galeria", projects_path
          %li.blogs= link_to "Wydarzenia", blogs_path
          %li.contact= link_to "Kontakt", kontakt_path
          -if user_signed_in?
            %li
              = link_to "admin", "/admin/projects"
    %article
      %aside
        #logo
          %p Galeria sztuki
          %h1= link_to image_tag("logo.png"), root_path
        = yield :aside
      %section#content
        = yield
        :javascript
          $("a.project_hover").hover(
            function(){
              $(this).children("div.cover").fadeIn();
            },
            function(){
              $(this).children("div.cover").fadeOut();
            }
          );
    %footer
      Galeria sztuki Jackowscy