!!! 5
%html
  %head
  %title Jackowscy
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  =# stylesheet_link_tag 'facebox'
  = csrf_meta_tags
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"}
  // Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/

  %body{ :lang => "pl"}

    %header#masthead
      %nav
        %ul
          %li= link_to "Strona główna", root_path
          %li= link_to "Obrazy", projects_path
          %li= link_to "Wydarzenia", blogs_path
          =#%li= link_to "Wydarzenia"
          =#%li= link_to "Kontakt"
          -if user_signed_in?
            %li= link_to "Kategorie", categories_path
            %li= link_to "Autorzy", authors_path
            %li
              = link_to "admin", "/admin/projects"
    %article
      %aside
        #logo
          %p Galeria sztuki
          %h1= link_to image_tag("logo.png"), root_path
        = yield :aside
      %section#content
        = yield